*{
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Sofia', sans-serif;
  font-size: 25px;
  background-color: gray;
}
.font-effect-neons{
    color: yellow;
    text-shadow: 0 0 5px lightyellow, 0 0 5px lightyellow, 0 0 5px lightyellow, 0 0 2px lightyellow, 0 0 2px lightyellow, 0 0 2px lightyellow, 0 0 2px lightyellow;
}
nav{
    background-color: black;
    color: lightyellow;
    display:flex;
    align-items: center;
    padding: 0 12px;
    height: 70px;
}
nav ul{
    margin-left: 20px;
    list-style: none;
}
.gameContainer{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    padding: 20px 20px;
}
.container{
    border-radius: 50px;
    margin-right: 13vw;
    display:grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}
.container div{
    background-color: lightgray;
    border: 2px solid black;
    font-family: monospace;
    font-size: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes:hover{
    background-color: rgb(197, 138, 138);
}
.info{
    font-family: monospace;
    margin-top: 42px;
}
.imgbox img{
    display:flex;
    align-items: center;
    width: 0;
    transition: width 1s ease-in-out;
}
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
#hint{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    letter-spacing: 1px;
    background-color: darkgray;
    padding: 5px 25px 5px 25px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#hint:hover{
    background-color: gray;
}
#hint:active{
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.5);
}
